{% extends 'base.html' %}
{% block index %}
    <div class="abox">
        <h2>博主简介</h2>
        <div class="biji-content" id="content">
            XXX，男，一个00后草根站长！15年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。我入行晚，大家也亲切的叫我“小X”。
            SEO奋斗了将近两年时间，个人博客网站百度排名也从之前的30页后，排到了第一页。期间有很多的不容易，但是都没有放弃过。入了这一行，就深深的喜欢上它。
        </div>
        <div class="navlist">
            <ul>
                <li class="navcurrent"><a href="#top1">基本信息</a></li>
                <li><a href="#top2">工作技能</a></li>
                <li><a href="#top3">我的博客</a></li>
            </ul>
        </div>
        <div class="navtab">
            <div class="navitem" style="display: block;" name="top1">
                <div class="content">
                    <p>职业：Python开发工程师 </p>
                    <p>邮箱：17310242459@163.com</p>
                </div>
            </div>
            <div class="navitem" name="top2">
                <div class="content">
                    <p class="ab_t">工作技能：</p>
                    <p>1、Python后端开发</p>
                    <p>2、根据产品需求，配合前端开发人员完成后端API开发</p>
                    <p>3、掌握Django，Flask web框架</p>
                    <p>4、熟稀Mysql数据库的使用</p>
                    <p>5、熟稀Http/Websocket 等网络基础</p>
                    <p>6、了解常用算法和数据结构</p>
                </div>
            </div>

            <div class="navitem" name="top3">
                <div class="content">
                    <p class="ab_t">我的博客：</p>
                    <p>域 名：www.martinfly.cn&nbsp;</p>
                    <p>服务器：腾讯云服务器</p>
                    <p>程 序：Flask&nbsp;搭建</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


